/* Typography */

/* Colors */

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --body-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --body-background-color: #ffffff;
  --company-color: #afb1b8;

  --modal-background: #fcfcfc;
  --backdor-background: rgba(46, 47, 66, 0.4);

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --modal-form-input: #8e8f99;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
}

/* Defolt class */

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-section {
  /* width: 1158px; */
  /* margin: 0 auto; */
  padding-left: 16px;
  padding-right: 16px;
}

/* Header 1 */
.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--body-background-color);
}

/* Header 2 */

.header-zwai {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

/* Header 3 */
.header-drai {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.main-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* Header */

.heder-border {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 428px) {
  .container-section {
    width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container-section {
    width: auto;
  }
}

.main-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.main-logo .logo-part {
  color: var(--dark-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .feedback {
    display: none;
  }
}

.main-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-toggle {
  background-color: transparent;
  stroke: var(--dark-color);
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    margin: 0 auto;
    width: 1158px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    gap: 40px;
  }

  .studio-navi {
    position: relative;
    display: block;
    transition: color var(--transition-dur-and-func);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }

  .studio-navi:hover,
  .studio-navi:focus {
    color: var(--pressed-state-color);
  }

  .studio-navi::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;

    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .studio-navi.current-page {
    color: var(--pressed-state-color);
  }

  .studio-navi.current-page::after {
    background: var(--pressed-state-color);
  }

  .main-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .feedback {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
  }

  .feedback-email {
    transition: color var(--transition-dur-and-func);
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
  }

  .feedback-telefon {
    margin-right: 0;
    transition: color var(--transition-dur-and-func);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
  }

  .feedback-email:hover,
  .feedback-email:focus,
  .feedback-telefon:hover,
  .feedback-telefon:focus {
    color: var(--pressed-state-color);
  }
}

@media screen and (min-width: 1158px) {
  .feedback-nav {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .feedback-email {
    font-size: 16px;
    margin-bottom: 0;
  }

  .feedback-telefon {
    font-size: 16px;
  }
}

/* Studio */

/* Main */
/* section 1 hero-section*/

.hero-title {
  margin: 0 auto 72px;
  max-width: 320px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--body-background-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin: 0 auto 36px;
    max-width: 496px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;

  background-color: var(--hero-background-color);
}

/* Mobile screen */

.overlay {
  /* max-width: 1440px;
  height: 600px; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/herobgmobile1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/herobgmobile2x.jpg);
  }
}

/* Tablet screen */

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/herobgtablet1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/herobgtablet2x.jpg);
    }
  }
}

/* Desktop screen */

@media screen and (min-width: 1158px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/herolaptop1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/herolaptop2x.jpg);
    }
  }
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color var(--transition-dur-and-func);

  color: var(--body-background-color);
  background-color: var(--primary-brand-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

/* section 2 our-advantages */

.our-advantages {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .container-section {
    width: 1158px;
  }

  .our-advantages {
    padding: 120px 0;
  }
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.icons-seczwai {
  display: none;
}

.header-drai.studio {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.main-text.studio {
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

@media screen and (min-width: 768px) {
  .advantages-item {
    display: flex;
    gap: 24px;
    row-gap: 72px;
  }

  .text.advantages {
    width: calc((100% - 24px) / 2);
  }

  .header-drai.studio {
    display: block;
    text-align: left;
  }

  .main-text.studio {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .header-drai.studio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .main-text.studio {
    font-weight: 400;
  }

  .advantages-item {
    display: flex;
    gap: 24px;
  }

  .text.advantages {
    width: calc((100% - 72px) / 4);
  }

  .icons-seczwai {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    margin-bottom: 8px;
  }

  .logo-szwai {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* section 3 we-doing */

.we-doing {
  display: none;
}

@media screen and (min-width: 1158px) {
  .we-doing {
    display: flex;
    padding-bottom: 120px;
  }

  .wedoing-item {
    display: flex;
    gap: 24px;
  }

  .wedoing-item.wedoing-image {
    width: calc((100% - 48px) / 3);
  }
}

/* section 4 */

.section-vier {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-color);
}

.ourteam-item {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background-color: var(--body-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-and-func);

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
}

.social-list-icon {
  fill: var(--light-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.work-position {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .ourteam-item {
    display: flex;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-item.ourteam-image {
    width: calc((100% - 24px) / 2);
  }
} */

@media screen and (min-width: 1158px) {
  .section-vier {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ourteam-item {
    display: flex;
    gap: 24px;
    row-gap: 0px;
    flex-direction: row;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* Section-5 */

.company {
  padding-top: 96px;
  padding-bottom: 96px;
}

.compani-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.company-list-icon {
  fill: currentColor;
}

.company-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-dur-and-func);

  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
  /* width: 190px; */
  width: 100%;
  height: 88px;
}

.company-list-item {
  display: flex;
  width: calc((100% - 16px) / 2);
}

.company-list-link:hover,
.company-list-link:focus {
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .company-list-item {
    display: flex;
    width: calc((100% - 48px) / 3);
  }

  .compani-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .company {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .company-list-item {
    display: flex;
    width: calc((100% - 120px) / 6);
  }
}

/* Footer */

.footer-item {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-color);
}

.container-section.footer-zwaipart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 72px;
}

.footer-part-main {
  max-width: 264px;
  text-align: center;
}

.footer-part {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-inform {
  text-align: start;
  margin: 0;
  margin-top: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
}

.socialmedia-icon {
  fill: var(--light-color);
}

.socialmedia-list {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.social-media {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-background-color);
}

.socialmedia-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-and-func);

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  background-color: var(--success-color);
}

.overlay-footer {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 101%);
  transition: transform var(--transition-dur-and-func);

  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
}

.filters-element-link:hover .overlay-footer,
.filters-element-link:focus .overlay-footer {
  transform: translate(0, 0);
}

@media screen and (min-width: 768px) {
  .container-section.footer-zwaipart {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 24px;
    row-gap: 72px;
    align-items: flex-start;
  }

  .footer-item {
    padding-right: 108px;
  }

  .social-media {
    text-align: start;
  }

  .footer-part-main {
    margin: 0;
  }

  .main-logo.footer-main-logo {
    display: flex;
    justify-content: flex-start;
  }
}

/* Modal section */

.footer-subscribe {
  width: 100%;
  margin-left: auto;
}

.modal-footer-form {
  display: flex;
  gap: 24px;
}

.social-media {
  margin-bottom: 16px;
}

.modal-footer-input {
  border: none;
  padding-left: 16px;
  width: 100%;
  height: 40px;
  background-color: var(--dark-color);
  box-sizing: border-box;
  border: 1px solid var(--body-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--body-background-color);
}

.modal-footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--body-background-color);
}

.button-subscribe-telegram {
  margin: 0 auto;
  height: 40px;
  width: 165px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  background-color: var(--primary-brand-color);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--body-background-color);
}

.button-subscribe-telegram:hover,
.button-subscribe-telegram:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.telegram-icon {
  align-items: center;
  fill: var(--body-background-color);
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    margin: 0;
  }

  .container-section.footer-zwaipart {
    padding-left: 108px;
  }

  .button-subscribe-telegram {
    margin: 0;
  }
}

/* Portfolio */
/* Main */

/* section-filters */

.filters {
  padding-right: 0;
  padding-left: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

.button-item {
  gap: 24px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 428px) {
  .button-item {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.button-portfolio {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border var(--transition-dur-and-func);

  cursor: pointer;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--body-background-color);
  background-color: var(--pressed-state-color);

  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.filters-image {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: teal; */
}

.filters-element {
  width: calc((100%-32px));
  transition: box-shadow var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .filters-element {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .filters-element {
    width: calc((100% - 48px) / 3);
  }
}

.filters-element:hover,
.filters-element:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filters-element-link {
  display: block;
}

.filters-element-link:hover,
.filters-element-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-work {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
  margin-bottom: 8px;
}

div.portfolio-work {
  margin-bottom: 0;
}

.main-text.portfolio {
  text-align: left;
}

.filters-element-wrapper {
  position: relative;
  overflow: hidden;
}

/* .filters-element:not(:nth-child(3n)) {
  margin-right: 24px;
} */

/* .filters-element:nth-child(3n){
  margin-right: 0;
} */

/* .filters-element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
} */

/* .filters-element:nth-last-child(-n+3){
  margin-bottom: 0;
} */

/* Modal section */

.backdrop {
  position: fixed;
  z-index: 100;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdor-background);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-dur-and-func);
  padding: 72px 24px 24px;

  width: 392px;

  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color var(--transition-dur-and-func),
    fill var(--transition-dur-and-func);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: var(--pressed-state-color);
  fill: var(--body-background-color);
}

/* Modal-form */

.modal-header {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-comment {
  margin-bottom: 18px;
}

.footer-part-social {
  margin-right: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.modal-form-input-desk {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-form-input);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: var(--dark-color);

  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-message {
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  padding: 10px 16px;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-check-desk {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-form-input);
  margin-bottom: 24px;
}

.modal-form-check-desk::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desk::before {
  background-color: var(--pressed-state-color);
  background-image: url('../modal/click.svg');
}

.modal-form-check:focus + .modal-form-check-desk::before {
  border: 1.25px solid var(--pressed-state-color);
  border-radius: 2px;
}

.modal-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color var(--transition-dur-and-func);

  color: var(--body-background-color);
  background-color: var(--primary-brand-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.user-policy-link {
  text-decoration-line: underline;
  color: var(--primary-brand-color);
}

@media screen and (min-width: 768px) {
  .modal-footer-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  .modal-footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container-section.footer-zwaipart {
    width: 1158px;
    display: flex;
    padding: 100px 16px;
    gap: 0;
    flex-wrap: nowrap;
  }

  .footer-part-social {
    margin-right: 80px;
  }

  .footer-part {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
  }

  .footer-item {
    padding: 0;
  }

  .footer-part-main {
    margin: 0;
    margin-right: 120px;
    gap: 0;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

/* Modal-mobile-menu-style */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--body-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  /* color: #fff; */
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  margin-bottom: 40px;
  /* color: #fff; */
  text-decoration: none;
}

.mobile-menu-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--pressed-state-color);
}

.mobile-menu-link.current-page {
  color: var(--pressed-state-color);
}

.mobile-menu-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand-color);

  display: block;
  margin-bottom: 40px;
}

.mobile-menu-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--body-text-color);

  display: block;
  margin-bottom: 48px;
}

.mobile-socialmedia-list {
  display: flex;
  gap: 56px;
}
